@charset "UTF-8";

html, body{
    /*margin: 0;
    padding: 0;
    height: 100%;*/
    background-image: linear-gradient(160deg, #4a00f5 1%,#00aeff, #03cf8b);
    background-attachment: fixed;
    height: 200%;
}

.fundo-de-tela{
    width: 70%;
    height: 50%;
    background-color: white;
    margin: auto;
    border-radius: 30px;
    padding: 2%;
    margin-top: 30%;
}

.caixa{
    width: 200px;
    height: 200px;
    background-color: #00ffaa;
    border: 10px black;
    display: inline-block;
    border-radius: 30px;
        
}